# Ignore temp files
*.swp
*.pid
*.qcow2
/temp
/files.log
/files.tmp
result
/vm-*

# Ignore decrypted files to avoid security breaches
*.dec.*

# Ignore flake and configuration files that are only linked at the root
/flake.nix
/flake.lock
/configuration.nix
/hardware-configuration.nix
