# Ignore temp files
*.swp
*.qcow2
/temp
/files.log
/files.tmp
/flake_vm_args.nix
/flake_iso_args.nix
/result

# Ignore decrypted files to avoid security breaches
*.dec.*

# Ignore flake and configuration files that are only linked at the root
/flake.nix
/flake.lock
/configuration.nix
/hardware-configuration.nix
