# Ignore temp files
*.swp
*.pid
*.qcow2
/temp
/files.log
/files.tmp
result
/vm-*

# Ignore decrypted files to avoid security breaches
*.dec.*

# Ignore configuration files that are only staged at the root during install
/install.nix
/hardware-configuration.nix
